*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo_buttons{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 230px;
    cursor: pointer;
}
.logo_buttons ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.logo_buttons ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.logo_buttons ul li ::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009687;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.logo_buttons ul li :hover::after{
    width: 100%;
}
.txt{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.txt h1{
    font-size: 75px;
    margin-top: 80px;
}
.txt r{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0; 
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688; 
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
form {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  