*{
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(123.jpeg); 
  background-size: cover;
  background-position: center;
}

.bannera{
  width: 100%;
  height: 100vh;
  background-image: url(filterb.png); 
  /*background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}
.navbar{
  width: 90%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbara{
  width: 90%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 200px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.navbara ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbara ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navbara ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbara ul li:hover::after{
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform:
  translateY(-50%);
  text-align: center;
  color: #fff;
  }
.content h1{
  font-size: 70px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-weight: 100; 
  line-height: 25px;
}
button{
  width: 100px;
  padding: 15px 0; 
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688; 
  background: transparent; 
  color: #000000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}


